@if (AsCard == true)
{
    <div class="card alert-primary" style="width: 25%">
        <div class="card-body">
            <div class="card-header card-header-pills">ФИО: @User.SurName &nbsp;@User.Name &nbsp; @User.SurName</div>
            <p class="card-subtitle">Номер: @User.Id </p>
            <div class="card-body">
            Возраст: @User.Age<br>
            Адрес: @User.Address1<br>
            @User.Address2
            </div>
        </div>
    </div>
}
else
{
<div class="alert-primary" style="width: 95%">
    Номер: @User.Id <br>
    ФИО: @User.SurName &nbsp;@User.Name &nbsp; @User.Middlename<br>
    Возраст: @User.Age<br>
    Адрес: @User.Address1<br>
    @User.Address2
</div>
}



@code {

    [Parameter]
    public bool AsCard { get; set; } = false;
    [Parameter]
    public User User { get; set; } = new User();
}
